# Testing and code checking
hypothesis
pytest
python-ta

# General packages
tqdm
colorama
texttable
hurry.filesize

# Data scraping
internetarchive

# Data processing and machine learning
nltk
contractions>0.0.18
tensorflow