# Testing and code checking
hypothesis
pytest
python-ta

# General packages
tqdm
colorama
texttable
hurry.filesize

# Data scraping
internetarchive

# Data processing and machine learning
contractions>0.0.18
tensorflow
sklearn

# Visualization
dash==1.18.0
ipywidgets>=7.0.0
flask_caching